on init
    setprop sys.usb.configfs 1
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on post-fs
    start boot-hal-1-1

on boot
    start health-hal-2-1
    write /config/usb_gadget/g1/idVendor 0x22b8
    mkdir /config/usb_gadget/g1/functions/mtp.gs0
    write /config/usb_gadget/g1/os_desc/use 1
    write /config/usb_gadget/g1/os_desc/b_vendor_code 0x1
    write /config/usb_gadget/g1/os_desc/qw_sign "MSFT100"
    symlink /config/usb_gadget/g1/configs/b.1 /config/usb_gadget/g1/os_desc/b.1

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x2e81

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x2e76
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp_adb"
    write /config/usb_gadget/g1/functions/mtp.gs0/os_desc/interface.MTP/compatible_id "MTP"
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on property:ro.crypto.state=encrypted && property:hwservicemanager.ready=true
    start qseecomd

on property:vendor.sys.listeners.registered=true
    start gatekeeper-1-0-qti
    start keymaster-4-1-qti

on property:twrp.all.users.decrypted=true
    stop qseecomd
    stop gatekeeper-1-0-qti
    stop keymaster-4-1-qti

service qseecomd /vendor/bin/qseecomd
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0-qti /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1-qti /vendor/bin/hw/android.hardware.keymaster@4.1-service-qti
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0
